.col{
    justify-content: center;
    color: white;
    text-align: center;
    height: 50px;
  }

body{
      width: 100vw;
      height: 100vh;
      margin: 0 auto;
      background-color: rgb(97, 97, 97);
  }
.container{
    width: 700px;
    height:500px;
    padding-top:50px ;
    margin: 0 auto;
  }
  
.row{
      justify-content: center;
  }

.red{
    background-color: red;
}
.black{
    background-color: black;
}
.white{
  background-color: white;
}
.darkred{
  background-color: darkred;
}